
body{
	margin: 0;
	font-family: tahoma;
	background: #5ECDDE;
}
.carousel-item{
	min-height: 350px;
	background:#ecf0f1; 
	border-bottom: 2px solid #70a1ff;
}
.first{
	color: #FFF;
	background: #1CCACD;
	width: 100%;
	min-height: 360px;
}
.second{
	background: #5EEA9D;
	color: #FFF;
	width: 100%;
	min-height: 360px;
}
.three{
	background: black;
	color: #FFF;
	width: 100%;
	min-height: 360px;
}
.four{
	background: #49B7E6;
	color: #FFF;
	width: 100%;
	min-height: 360px;
}
.container{
	text-align: center;
	width: 90%;
	margin: auto;
	background: #5ECDDE;
}

.owl-carousel .slide{
	margin-top: 10px;
	width: 270px;
	height:350px;
	


}
.owl-carousel img:hover{
	cursor: pointer;
	border-bottom: 3px solid #7f8c8d;
	border-right: 2px solid #7f8c8d;
	-webkit-transition-duration:.5s;
	-o-transition-duration:.5s;
	transition-duration:.5s;
}
.owl-carousel img{
	border-radius: 5px;
	width: 350px;
	height:300px;
	
}
.mix-button{
	padding-top: 50px;
	margin: auto;
	width: 40%;
}
.image img{
	width: 250px;
	height: 260px;
	border-radius: 5px;
	border:2px solid #fff;
}

